{% extends 'base.html' %}

{% block head %}

<script>
    $(document).ready(function() {
        $('#send_message').on('click', function() {
            socket.emit('my event', {data: $('#message').val()});
            $('#log').append('Sent: ' + $('#message').val() + '<br>');
        });
        $('#background').on('click', function() {
            console.log('1');
            $.get("{{ url_for('start_background_thread') }}");
            console.log('2');
        });
    });
</script>

{% endblock head %}

{% block title %}
Index page
{% endblock %}

{% block content %}

<h3>Index Page</h3>

<input type="text" id="message">
<br>
<button id="send_message">Send</button>

<br><br><br>

<button id="background">Background task test</button>

{% endblock %}
